<div class="container mt-5" id="features">
    <div class="row">
        <div class="col-md-6" style="align-self:center;">
            <h2 class="h2">Security</h2>
            <p>Have you ever heard of security issues on standard banking apps?<br>
            We use the cutting edge security algorithms where only you can lose your money when your device is physically stolen<br>
        and your password is known to the perpetrator, and even then they would need your email password to get the <br>
    generated code to condone a transaction!</p>
        </div>
        <div class="col-md-6">
            <img class="d-block w-100 p-4" src="Java1.PNG" alt="Could not load img">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <img class="d-block w-100 p-4" src="Database.PNG" alt="Could not load img">
        </div>
        <div class="col-md-6" style="align-self:center;">
            <h2 class="h2">Accounts</h2>
            <p>You need more then one account? <strong>No problem</strong>, with our app you can have as many accounts you need, for yourself, your wife and the kids, even your dog can get one!</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6" style="align-self:center;">
            <h2 class="h2">Transactions</h2>
            <p><strong>ONE APP TO RULE THEM ALL!</strong> You can use our app to make all of the transactions, i.e. You need to transfer money from one bank account to other, be our guest, you need to pay the bills, just use our app!</p>
        </div>
        <div class="col-md-6">
            <img class="d-block w-100 p-4" src="Postman.PNG" alt="Could not load img">
        </div>
    </div>
</div>