<div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Are you using Banking App?</h1>
    <p class="lead text-center">Are you tired of traditional apps for banking?</p>
    <hr class="my-4">
    <p class="text-center">Are you ready for a banking app that let's you do all of your payments from one spot?</p>
    <p class="lead text-center">
      <a class="btn btn-success btn-lg " href="https://github.com/ensar95/bankingAppFront" target="_blank" role="button" >Start now!</a>
    </p>
</div>
<div class="container-fluid">
<h1 class="h1 mt-3" style="text-align: center;"> Banking App</h1>
