<div class="container">
<p class="mt-4">Sign up for our newsletter!</p>

<form>
    <div class="form-group mt-4">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I agree with all the terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
<p class="mt-4">You think you have what it takes to work on our app?</p>
<p class="mt-4">Send us your CV</p>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
</div>