<div class="container-fluid mt-5 mb-3 text-center" id="icons">
    <p class="h4 text-center">My references</p>
    <a href="https://www.linkedin.com/in/ensar-skopljak-682210128/" class="fa fa-linkedin mr-1 mt-1" target="_blank" data-togle="tooltip" data-placement="bottom" title="Ensar Skopljak linkedin profile"></a>
    <a href="https://www.facebook.com/Missed.birthday/" class="fa fa-facebook  mr-1 mt-1" target="_blank" data-togle="tooltip" data-placement="bottom" title="Ensar Skopljak facebook profile"></a>
    <a href=" https://www.baeldung.com/" class="fa fa-bookmark mr-1 mt-1" target="_blank" data-togle="tooltip" data-placement="bottom" title="Best SpringBoot tutorial website on the planet"></a>
</div>